@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Honk&family=Doto&family=Kalam:wght@300;400;700&display=swap');

body {
    background-color:bisque;
}

h1 {
    color:blueviolet;
    text-decoration:none;
    font-family: "honk","kalam","sans-serif";
    font-size:70px;
}

p {
    font-family:"kalam","sans-serif","doto";
    color:brown;
    text-decoration:none-through;
    font-size: 30px;
}

h2 {
    font-family: "honk","serif";
    font-size:45px;
}